.git
.github

.env
.env.\*

vendor
node_modules

storage/logs/_
storage/framework/cache/_
storage/framework/sessions/_
storage/framework/views/_
storage/framework/testing/\*

docker-compose.yml
docker-compose.yaml

README.md
